---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-text: #3f3f3f;
    --color-primary: #0e03b7;
    --color-secondary: #808080;
    --color-warning: #e83104;
    --color-accentBg: #ffe0b2;

    color: var(--color-text);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}